body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 4em;
    color: black;
    margin: 0;
}

h2 {
    font-size: 4em;
    color: red;
    margin: 0;
}

p {
    font-size: 1em;
    margin: 5px 0;
}
